<%= content_for :search_bar do  %>
  <%= render 'search_bar' %>
<% end %>

<article id="monster-list" class="pt5 mt5">
  <%= render 'empty', empty: @monsters.empty? %>
  <ul class="list ph2 pb2 mb0" style="margin-top:0.6rem;">
    <% @monsters.each do |monster| %>
      <li class="db measure center relative" style="margin-top:-0.6rem;">
        <%= link_to monster.name, monster_set_monster_path(@monster_set, monster), class: 'monster-name db link black ph2 pv3 hover-bg-washed-yellow ba bw2 b--black bg-white br3 fw6 shadow-2' %>
        </a>
        <a href="javascript:" data-monster-set="<%=@monster_set.slug%>" data-monster="<%=monster.slug%>" class="favourite-toggle absolute pv3 ph3 top-0 right-0 dim" role="button"><img src="https://icon.now.sh/star_border/aaaaaa/24" width="24" height="24" aria-hidden="true"><span class="clip">Add <%= monster.name %> to Favourites</span></a>
      </li>
    <% end %>
  </ul>
  <p class="measure center tc">
    <a href="/d&d5esrd/license" class="black hover-bg-washed-yellow">License</a>
  </p>
</article>

<script>
  $(document).ready(function() {
    monsters.init();
    favourites.init();
  });
</script>

