<%= content_for :search_bar do  %>
  <%= render 'search_bar' %>
<% end %>

<article id="monster-list" class="pt5 mt5">
  <%= render 'empty', empty: @monsters.empty? %>
  <%= render 'shared/monsters', monsters: @monsters %>
  <p class="measure center tc">
    <a href="/d&d5esrd/license" class="black hover-bg-washed-yellow">License</a>
  </p>
</article>

<script>
  $(document).ready(function() {
    monsters.init();
    favourites.init({set:"<%=@monster_set.slug.html_safe%>"});
  });
</script>

