<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 relative">

    <a href="javascript:" data-monster-set="<%= @monster_set.slug %>" data-monster="<%= @monster.slug %>" class="favourite-toggle absolute pa2 top-0 right-0 top-1-ns right-1-ns v-mid" role="button">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 13 14" class="icon-favourite">
        <path d="M13 5.055q0 0.172-0.203 0.375l-2.836 2.766 0.672 3.906q0.008 0.055 0.008 0.156 0 0.164-0.082 0.277t-0.238 0.113q-0.148 0-0.312-0.094l-3.508-1.844-3.508 1.844q-0.172 0.094-0.312 0.094-0.164 0-0.246-0.113t-0.082-0.277q0-0.047 0.016-0.156l0.672-3.906-2.844-2.766q-0.195-0.211-0.195-0.375 0-0.289 0.438-0.359l3.922-0.57 1.758-3.555q0.148-0.32 0.383-0.32t0.383 0.32l1.758 3.555 3.922 0.57q0.438 0.070 0.438 0.359z"></path>
      </svg>      
      <span class="clip">Add <%= @monster.name %> to Favourites</span>
    </a>

    <h2 class="mv0 f2-ns f3 lh-title"><%= @monster.name %></h2>
    <p class="i mt0 lh-copy ">
      <span class="b">Challenge <%= @monster.cr %> (<%= number_with_delimiter(@monster.xp, :delimiter => ',')%> XP)</span>,
      <%= "#{@monster.size} #{@monster.monster_type}" %>
      <%= " (#{@monster.subtype})" if @monster.subtype?%>
      <%=", #{@monster.alignment}" %>
    </p>

    <section class="bt bw2">
      <p class="f4-ns lh-copy">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="16" height="16"><path d="M414.9 24C361.8 24 312 65.7 288 89.3 264 65.7 214.2 24 161.1 24 70.3 24 16 76.9 16 165.5c0 72.6 66.8 133.3 69.2 135.4l187 180.8c8.8 8.5 22.8 8.5 31.6 0l186.7-180.2c2.7-2.7 69.5-63.5 69.5-136C560 76.9 505.7 24 414.9 24z" style="fill: #FF4136;"/></svg> <abbr title="Hit Points" class="b">HP</abbr> <%= "#{@monster.hp} (#{@monster.hit_dice})" %>
        
      <span class="ph2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16"><path d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3z" style="fill: #19A974;" /></svg>
        <abbr title="Armor Class" class="b">AC</abbr> <%= @monster.ac %>
      </span>

      <span class="dib">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16"><path d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z" style="fill: #408BC9;"/></svg>
        <abbr title="Speed" class="b">SPD</abbr> <%= @monster.speed %>
      </span>
      </p>
    </section>

    <section class="bt bw2">
      <table class="mv3 w-100 lh-solid">
        <caption class="clip">Ability Scores</caption>
        <tr class="tc f4-ns">
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
        <tr class="tc tracked-tight">
          <td>
            <small class="gray"><%= @monster.str %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.str)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.dex %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.dex)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.con %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.con)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.int %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.int)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.wis %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.wis)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.cha %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.cha)) %>)</strong class="fw5"></td>
        </tr>
      </table>
    </section>

    <section class="bt bw2">
      <dl class="lh-copy">
        <% if @monster.skills.length > 0 %>
          <dt class="fl b mr1">Skills</dt>
          <dd class="ml0">
          <% @monster.skills.each_with_index do |(skill_type, skill_bonus), index| %><%= "#{skill_type.capitalize}: +#{skill_bonus}" %><%= ", " if index < @monster.skills.length-1 %><% end %>
          </dd>
        <% end %>
        <% if @monster.senses? %>
          <dt class="fl b mr1">Senses</dt>
          <dd class="ml0"><%= @monster.senses.capitalize %></dd>
        <% end %>
        <dt class="fl b mr1">Languages</dt>
        <dd class="ml0"><%= @monster.languages != "" ? @monster.languages.capitalize : "None" %></dd>
        <% if @monster.damage_vulnerabilities.length >0  %>
          <dt class="fl b mr1">Damage Vulnerabilities</dt>
          <dd class="ml0"><%= @monster.damage_vulnerabilities %></dd>
        <% end %>
        <% if @monster.damage_resistances.length >0  %>
          <dt class="fl b mr1">Damage Resistances</dt>
          <dd class="ml0"><%= @monster.damage_resistances %></dd>
        <% end %>
        <% if @monster.damage_immunities.length >0  %>
          <dt class="fl b mr1">Damage Immunities</dt>
          <dd class="ml0"><%= @monster.damage_immunities %></dd>
        <% end %>
        <% if @monster.condition_immunities.length >0  %>
          <dt class="fl b mr1">Condition Immunities</dt>
          <dd class="ml0"><%= @monster.condition_immunities %></dd>
        <% end %>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "special").count > 0 %>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "special").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <h2 class="mt0 mb2 f3 lh-title pt2">Actions</h2>
    <section class="bt bw2">
      <dl class="lh-copy">
        <% @monster.monster_abilities.where(ability_type: "action").each do |ability| %>
          <dt class="fl b mr1"><%= ability.name %></dt>
          <dd class="ml0 mb3"><%= ability.desc %></dd>
        <% end %>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "legendary").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Legendary Actions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "legendary").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <% if @monster.monster_abilities.where(ability_type: "reaction").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Reactions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "reaction").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <footer class="bt bw2 lh-copy">
      <p><%= link_to @monster.name, monster_set_monster_path(@monster_set, @monster), class: 'black hover-bg-washed-yellow'%>
      from 
      <a href="/" class="black hover-bg-washed-yellow">D&amp;D 5E SRD</a></p>
    </footer>
  </div>
</article>

<script>
  $(document).ready(function() {
    favourites.init({set:"<%=@monster_set.slug.html_safe%>"});
  });
</script>