<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 relative">

    <a href="javascript:" data-monster-set="<%= @monster_set.slug %>" data-monster="<%= @monster.slug %>" class="favourite-toggle absolute pa2 top-0 right-0 top-1-ns right-1-ns v-mid" role="button">
      <img class="iconic" data-src="/icons/star-empty-sm.svg">
      <img class="iconic dn" data-src="/icons/star-sm.svg">
      <span class="clip">Add <%= @monster.name %> to Favourites</span>
    </a>

    <h2 class="mv0 f2-ns f3 lh-title"><%= @monster.name %></h2>
    <p class="i mt0 lh-copy "><%= "#{@monster.size} #{@monster.monster_type}" %><%= " (#{@monster.subtype})" if @monster.subtype?%><%=", #{@monster.alignment}" %></p>

    <section class="bt bw2">
      <dl class="lh-copy">
        <dt class="fl b mr1">Challenge Rating</dt>
        <dd class="ml0"><%= @monster.cr %></dd>
        <dt class="fl b mr1">XP</dt>
        <dd class="ml0"><%= number_with_delimiter(@monster.xp, :delimiter => ',')%></dd>
        <dt class="fl b mr1">Armor Class</dt>
        <dd class="ml0"><%= @monster.ac %></dd>
        <dt class="fl b mr1">Hit Points</dt> 
        <dd class="ml0"><%= "#{@monster.hp} (#{@monster.hit_dice})" %></dd>
        <dt class="fl b mr1">Speed</dt>
        <dd class="ml0"><%= @monster.speed %></dd>
      </dl>
    </section>

    <section class="bt bw2">
      <table class="mv3 w-100 lh-solid">
        <caption class="clip">Ability Scores</caption>
        <tr class="tc f4-ns">
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
        <tr class="tc tracked-tight">
          <td>
            <small class="gray"><%= @monster.str %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.str)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.dex %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.dex)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.con %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.con)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.int %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.int)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.wis %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.wis)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.cha %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.cha)) %>)</strong class="fw5"></td>
        </tr>
      </table>
    </section>

    <section class="bt bw2">
      <dl class="lh-copy">
        <% if @monster.skills.length > 0 %>
          <dt class="fl b mr1">Skills</dt>
          <dd class="ml0">
          <% @monster.skills.each_with_index do |(skill_type, skill_bonus), index| %><%= "#{skill_type.capitalize}: +#{skill_bonus}" %><%= ", " if index < @monster.skills.length-1 %><% end %>
          </dd>
        <% end %>
        <% if @monster.senses? %>
          <dt class="fl b mr1">Senses</dt>
          <dd class="ml0"><%= @monster.senses.capitalize %></dd>
        <% end %>
        <dt class="fl b mr1">Languages</dt>
        <dd class="ml0"><%= @monster.languages != "" ? @monster.languages.capitalize : "None" %></dd>
        <% if @monster.damage_vulnerabilities.length >0  %>
          <dt class="fl b mr1">Damage Vulnerabilities</dt>
          <dd class="ml0"><%= @monster.damage_vulnerabilities %></dd>
        <% end %>
        <% if @monster.damage_resistances.length >0  %>
          <dt class="fl b mr1">Damage Resistances</dt>
          <dd class="ml0"><%= @monster.damage_resistances %></dd>
        <% end %>
        <% if @monster.damage_immunities.length >0  %>
          <dt class="fl b mr1">Damage Immunities</dt>
          <dd class="ml0"><%= @monster.damage_immunities %></dd>
        <% end %>
        <% if @monster.condition_immunities.length >0  %>
          <dt class="fl b mr1">Condition Immunities</dt>
          <dd class="ml0"><%= @monster.condition_immunities %></dd>
        <% end %>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "special").count > 0 %>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "special").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <h2 class="mt0 mb2 f3 lh-title pt2">Actions</h2>
    <section class="bt bw2">
      <dl class="lh-copy">
        <% @monster.monster_abilities.where(ability_type: "action").each do |ability| %>
          <dt class="fl b mr1"><%= ability.name %></dt>
          <dd class="ml0 mb3"><%= ability.desc %></dd>
        <% end %>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "legendary").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Legendary Actions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "legendary").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <% if @monster.monster_abilities.where(ability_type: "reaction").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Reactions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "reaction").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <footer class="bt bw2 lh-copy">
      <p><%= link_to @monster.name, monster_set_monster_path(@monster_set, @monster), class: 'black hover-bg-washed-yellow'%>
      from 
      <a href="/" class="black hover-bg-washed-yellow">D&amp;D 5E SRD</a></p>
    </footer>
  </div>
</article>

<script>
  $(document).ready(function() {
    favourites.init({set:"<%=@monster_set.slug.html_safe%>"});
  });
</script>