<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2">
    <h2 class="mv0 f2 lh-title"><%= @monster.name %></h2>
    <p class="i mt0 lh-copy "><%= "#{@monster.size} #{@monster.monster_type}" %><%= " (#{@monster.subtype})" if @monster.subtype?%><%=", #{@monster.alignment}" %></p>

    <section class="bt bw2">
      <dl class="lh-copy">
        <dt class="fl b mr1">Armor Class</dt>
        <dd class="ml0"><%= @monster.ac %></dd>
        <dt class="fl b mr1">Hit Points</dt> 
        <dd class="ml0"><%= "#{@monster.hp} (#{@monster.hit_dice})" %></dd>
        <dt class="fl b mr1">Speed</dt>
        <dd class="ml0"><%= @monster.speed %></dd>
      </dl>
    </section>

    <section class="bt bw2">
      <table class="mv3 w-100 lh-solid">
        <caption class="clip">Ability Scores</caption>
        <tr class="tc f4-ns">
          <th>STR</th>
          <th>DEX</th>
          <th>CON</th>
          <th>INT</th>
          <th>WIS</th>
          <th>CHA</th>
        </tr>
        <tr class="tc tracked-tight">
          <td>
            <small class="gray"><%= @monster.str %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.str)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.dex %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.dex)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.con %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.con)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.int %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.int)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.wis %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.wis)) %>)</strong class="fw5"></td>
          <td><small class="gray"><%= @monster.cha %></small> <strong class="fw5">(<%= sprintf("%+d", @monster.ability_mod(@monster.cha)) %>)</strong class="fw5"></td>
        </tr>
      </table>
    </section>

    <section class="bt bw2">
      <dl class="lh-copy">
        <% if @monster.skills.length > 0 %>
          <dt class="fl b mr1">Skills</dt>
          <dd class="ml0">
          <% @monster.skills.each_with_index do |(skill_type, skill_bonus), index| %><%= "#{skill_type.capitalize}: +#{skill_bonus}" %><%= ", " if index < @monster.skills.length-1 %><% end %>
          </dd>
        <% end %>
        <% if @monster.senses? %>
          <dt class="fl b mr1">Senses</dt>
          <dd class="ml0"><%= @monster.senses.capitalize %></dd>
        <% end %>
        <dt class="fl b mr1">Languages</dt>
        <dd class="ml0"><%= @monster.languages != "" ? @monster.languages.capitalize : "None" %></dd>
        <dt class="fl b mr1">Challenge</dt>
        <dd class="ml0"><%= @monster.cr %></dd>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "special").count > 0 %>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "special").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <h2 class="mt0 mb2 f3 lh-title pt2">Actions</h2>
    <section class="bt bw2">
      <dl class="lh-copy">
        <% @monster.monster_abilities.where(ability_type: "action").each do |ability| %>
          <dt class="fl b mr1"><%= ability.name %></dt>
          <dd class="ml0 mb3"><%= ability.desc %></dd>
        <% end %>
      </dl>
    </section>

    <% if @monster.monster_abilities.where(ability_type: "legendary").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Legendary Actions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "legendary").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <% if @monster.monster_abilities.where(ability_type: "reaction").count > 0 %>
      <h2 class="mt0 mb2 f3 lh-title pt2">Reactions</h2>
      <section class="bt bw2">
        <dl class="lh-copy">
          <% @monster.monster_abilities.where(ability_type: "reaction").each do |ability| %>
            <dt class="fl b mr1"><%= ability.name %></dt>
            <dd class="ml0 mb3"><%= ability.desc %></dd>
          <% end %>
        </dl>
      </section>
    <% end %>

    <footer class="bt bw2 lh-copy">
      <p><a href="#" class="black hover-bg-washed-yellow"><%= @monster.name %></a> 
      from 
      <a href="/" class="black hover-bg-washed-yellow">D&D 5E SRD</a></p>
    </footer>
  </div>
</article>
