<article class="helvetica mt4 pt3 bg-white">
    <header class="bg-green sans-serif waavy">
        <div class="center ph3 ph4-m ph5-l pa4">
          <h3 class="f2 f1-m f-headline-l lh-title mv0">
            <span class="bg-black-70 lh-copy white pa1 tracked-tight">
              Real Life Cards <br>Coming Soon to Kickstarter
            </span>
          </h3>

          <a class="dib br3 pv2 ph3 link ba bw2 black bg-green f2-ns f5 dim black mt2 " href="#mc_embed_signup">
            Get Notified When We Go Live
            <svg class="dib h2-ns w2-ns w1 h1 black" fill="currentColor" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Minutemailer icon</title><path d="M5.564 2.703l3.45 3.734-2.434 4.798 5.14-.921 2.34 5.646L24 2.926 5.564 2.703zm-.636 8.088l.957-.787-1.234.39-.126-.18.51-.495-.669.27C1.813 10.979 0 13.455 0 16.35c0 1.951.822 3.705 2.133 4.947-.563-.99-.885-2.134-.885-3.355 0-2.865 1.809-5.415 4.315-6.42l.315-.766-.75.331-.211-.285.011-.011zm4.364-1.97L10.89 6l9.398-2.201L9.292 8.821z"></path></svg>
          </a>

        </div>
      </header>
      
  <div class="serif ph3 ph4-m ph5-l f5 f3-m lh-copy">

    <div class="cf dt-l w-100 bt b--black-10 pv4">
      <div class="dtc-l v-mid mw6 pr3-l">
          <img class="w-100 ba b--black-30 shadow-5 link br1" src="<%= asset_path 'cards-double.png' %>" alt="Fire Elemental Card">
      </div>

        <div class="dtc-l v-mid f6 f5-m f4-l measure-l">
          <div class="measure pv4-l center">
            <p>We've been working on a deck of real cards and we're almost ready to bring the project to Kickstarter.</p>
            <ul>
              <li>60 cards featuring monsters you use all the time</li>
              <li>Original illustrations by <a href="https://www.artstation.com/amycornelson" class="blue">Amy Cornelson</a></li>
              <li>Large format (4"x6") cards that are easy to read</li>
              <li>5E Stats along with our own handy extras like quirks, descriptors, and names </li>
            </ul>  
            <p>Run awesome games and spend less time preparing. We built <a href="/" class="black">monstercards.ca</a> because we wanted it for our own tables - this deck of cards is no different. We're very excited to bring this project to life soon!</p>
          </div>
        </div>
      </div>

      <div class="cf bt b--black-10 pv4">
          <a href="<%= asset_url 'card-animated-armor.png' %>" class="fl w-100  w-third-m w-third-l pr2-l pb3">
            <img class="db w-100 ba br2 b--black-20 shadow-4" src="<%= asset_url 'card-animated-armor.png' %>" alt="">
          </a>
          <a href="<%= asset_url 'card-bugbear.png' %>" class="fl w-100  w-third-m w-third-l pr2-l pb3">
            <img class="db w-100 ba br2 b--black-20 shadow-4" src="<%= asset_url 'card-bugbear.png' %>" alt="Photo of a dusk skyline above a grassy rockface covered in trees.">
          </a>
          <a href="<%= asset_url 'card-cult-fanatic.png' %>" class="fl w-100  w-third-m w-third-l pr2-l pb3">
            <img class="db w-100 ba br2 b--black-20 shadow-4" src="<%= asset_url 'card-cult-fanatic.png' %>" alt="Photo of a dusk skyline above a grassy rockface covered in trees.">
          </a>
        </div>

    </div>

<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
    <form action="https://monstercards.us19.list-manage.com/subscribe/post?u=a290ecda5e45e7f79ea4623ee&amp;id=6ee5c842d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll" class="cf w-100 bg-green pa4 ph3 ph4-m ph5-l f5 f3-m waavy">
        <legend class="f3-ns f5 fw6 black">Get Notified When We Go Live:</legend>
        <small class="mb3 db i">No spam or funny business, we promise.</small>
        <div class="cf">
          <label class="clip" for="email-address">Your Email Address</label>
          <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="your email address" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-ns br2 br--left-ns" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a290ecda5e45e7f79ea4623ee_6ee5c842d9" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button f6 f5-l button-reset fl pv3 ph4 ph0-ns tc bn bg-animate bg-black-70 hover-bg-black white pointer w-25-ns mt0-ns mt2 br2 br--right-ns" type="submit" value="Subscribe">
        </div>
      </div>
    </form>

  </div>
  <!--End Mailchimp Signup Form-->
</article>