<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "Monster Cards" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' if ENV['HEROKU_APP_NAME'].present? && ENV['HEROKU_APP_NAME'] == 'monstercards-prod'%>
  </head>

  <body class="bg-washed-green">
  <a href="#main-content" class="clip">Skip to Main Content</a>

    <%= render 'shared/navigation' %>

    <%= yield %>
    
    <%= render 'shared/navigation_modal' %>

  </body>
</html>
