<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monster Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-washed-green pt6 avenir">

    <header class="fixed bg-black top-0 left-0 w-100">
      <nav class="tc pv3 ph2 measure center relative">
        <a class="link white dib fl absolute top-0 left-0 ph2 pv3" href="javascript:history.back()">Back</a>
        <a class="link white dib" href="/"><h1 class="f5 normal ma0">D&D 5E SRD</h1></a>
      </nav>

      <%= yield :search_bar %>
    </header>

    <%= yield %>
  </body>
</html>
