<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title || "Monster Cards" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-washed-green avenir">
  <a href="#main-content" class="clip">Skip to Main Content</a>

    <header class="fixed bg-black top-0 left-0 w-100 shadow-2 z-1">
      <nav class="measure center cf">
        <a class="link white dib fl ph2 pv3" href="/">
          <h1 class="f5 normal ma0">
          <% if params[:controller] == "monsters" && params[:action] == "show" %>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="12" viewBox="0 0 11 14" class="icon-chevron-left">
              <path d="M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z"></path>
            </svg>
          <% end %> D&amp;D 5e SRD
          </h1>
        </a>
        <a class="link white dib fr ph2 pv3 js-modal" href="" data-modal-prefix-class="primary-menu" data-modal-content-id="primary-navigation" data-modal-close-img="https://icon.now.sh/x/FF725C/24" id="label_modal_6">Menu</a>
        <a class="link white dib fr ph2 pv3" href="/">Favourites</a>
      </nav>

      <div id="primary-navigation" class="dn">
        <div class="measure center pt4-ns pb3-ns ph4-ns pa3 pb1">
          <h1 class="mt0 mb2 f3 lh-title pt2">D&amp;D 5E SRC</h1>
          <ul class="list pl0 f4 mt0">
            <li class="lh-copy pv3 bb bw1 b--black-20"><a href="/" class="link light-red">Monsters</a></li>
            <li class="lh-copy pv3 bb bw1 b--black-20"><a href="/d&d5esrd/license" class="link light-red">License</a></li>
          </ul>
          <h2 class="mt0 mb2 f3 lh-title pt2">Monster Cards</h2>
          <ul class="list pl0 f4 mt0">
            <li class="lh-copy pv3 bb bw1 b--black-20"><a href="/about" class="link light-red">About</a></li>
            <li class="lh-copy pv3 bb bw1 b--black-20"><a href="/change_log" class="link light-red">Changelog</a></li>
          </ul>
        </div>
      </div>

      <%= yield :search_bar %>
    </header>

    <%= yield %>
    <%= render 'layouts/google_analytics' if ENV['HEROKU_APP_NAME'].present? && ENV['HEROKU_APP_NAME'] == 'monstercards-prod'%>
  </body>
</html>
